---
layout: default
title:
---
<br>

<style>
.intro-container {
  display: flex;
  align-items: center;
  gap: 15px;
}
</style>

<div class="intro-container">
  <img id="regular" src="figs/Bolger_Pittsburgh.jpg" style="float: left; padding: 15px;" width="450" />
  <div align="left">
    Welcome, I'm Emily (she/her)! I am a <a href="https://datascience.uchicago.edu/">Data Science Preceptor</a> at the University of Chicago Data Science Institute and the City Colleges of Chicago, where I am the instructor of record for data science and related courses. 

  </div>
</div>
<!-- <div>
  <div>
    <img id="regular" src="figs/Bolger_Pittsburgh.jpg" style="float: left; padding: 15px;" width="450" height="auto" vspace="20" />
  </div>
  <div align="left">
    Welcome, I'm Emily (she/her)! I am a <a href="https://datascience.uchicago.edu/">Data Science Preceptor</a> at the University of Chicago Data Science Institute and the City Colleges of Chicago. I am the instructor of record for data science and related courses at the University of Chicago and the City Colleges of Chicago. 
  </div> -->
  <div style="clear: both;">
    <button id="myCatButton" style="margin-left: 6em" >Click for Laser Cats!</button>
    <script>
      const myImg = document.getElementById("regular");
      const myButton = document.getElementById("myCatButton");
  
      let isFirstImage = true;
  
      myButton.addEventListener("click", function() {
        if (isFirstImage) {
          myImg.src = "figs/EmilyBolger_LaserCatFULLBorder.png";
        } else {
          myImg.src = "figs/Bolger_Pittsburgh.jpg";
        }
        isFirstImage = !isFirstImage;
      });
    </script>
    </div>
  <br>
  <div align="left">
  <p style="margin-bottom: 20px;"> I earned my PhD in <a href="https://cmse.msu.edu/">Computational Mathematics, Science, and Engineering (CMSE) Department</a> at Michigan State University (MSU), with a focus in Computing Education. I worked in the <a href="https://msu-cerl.github.io/">Computational Education Research Lab (CERL)</a> where we focused on understanding how students learn computational science and related tools, so we can improve our teaching strategies.
  </p>
  <p>
  My research interests include using Natural Language Processing techniques to identify trends in education literature. I also received a Certificate in College Teaching from MSU and has worked closely with colleagues to develop curricula for introductory courses on data ethics and algorithmic bias. I received a B.S. in Mathematics with Honors in Statistics and minors in Informatics, Economics, and Dance from <a href = "https://www.moravian.edu/">Moravian University</a>.
  </p>
  <p>
  My work seeks to combine my passions for data science, mathematics, education, and outreach. I believe everyone can find a place in STEM and I am constantly working to break systemic barriers to make science more accessible to our students and to the general public. 
  </p>
</div>

<br>
<div>
<a href="files/Bolger_CV_Aug2026.pdf" target = "_blank"> View </a> my current CV! (Last Updated: August 2026)
</div>
<br>

<div>
  <h3> Recent Activites: </h3>
  <ul>
    <li> 
      Exploring the impact and ability of Natural Language Processing techniques for information extraction in systematic literature reviews.  </li>
    <li> Using Social Network Analysis techniques to analyze and model data from Slack interactions between Physics instructors looking to better incorporate computation into their courses </li>
    <li> Developing curriculum materials focused on data and algorthmic bias for an introduction to data science and computing course.</li>
    <li> President for Graduate Women In Science (GWIS) Mid-Michigan Chapter </li>
  </ul>

</div>







<!-- In the novel, *The Strange Case of Dr. Jeykll and Mr. Hyde*, Mr. Poole is Dr. Jekyll's virtuous and loyal butler. Similarly, Poole is an upstanding and effective butler that helps you build Jekyll themes. It's made by [@mdo](https://twitter.com/mdo).

There are currently two themes built on Poole:

* [Hyde](http://hyde.getpoole.com)
* [Lanyon](http://lanyon.getpoole.com)

Learn more and contribute on [GitHub](https://github.com/poole).

## Setup

Some fun facts about the setup of this project include:

* Built for [Jekyll](http://jekyllrb.com)
* Developed on GitHub and hosted for free on [GitHub Pages](https://pages.github.com)
* Coded with [Sublime Text 2](http://sublimetext.com), an amazing code editor
* Designed and developed while listening to music like [Blood Bros Trilogy](https://soundcloud.com/maddecent/sets/blood-bros-series)

Have questions or suggestions? Feel free to [open an issue on GitHub](https://github.com/poole/issues/new) or [ask me on Twitter](https://twitter.com/mdo).

Thanks for reading! -->

<!-- <div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->