<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}"> {{ site.title }} </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <!-- <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a> -->

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages | sort:"order"%}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
          {% if node.title != "Teaching" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
            {% endif %}
            {% if node.title == "Teaching" %}
              <div class="dropdown">
                <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
                <div class="dropdown-content">
                  <a href="https://github.com/egbolger">Link 1<a>
                </div>  
                </div>
              {% endif %}
          {% endif %}
        {% endif %}
      {% endfor %}
      
      

    
         
      <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->
    </nav>


    <body>
      <a href="https://github.com/egbolger" target = "_blank">
        <ion-icon name="logo-github"></ion-icon>
      </a>

      <a href="https://www.linkedin.com/in/emily-bolger-58a47214b/ " target = "_blank">
        <ion-icon name="logo-linkedin"></ion-icon>
      </a>

      <a href="https://scholar.google.com/citations?user=Dm4mbusAAAAJ&hl=en&oi=ao" target = "_blank">
        <ion-icon name="logo-google"></ion-icon>
      </a>
     
      <a href="https://twitter.com/ebolger06" target = "_blank">
        <ion-icon name="logo-twitter"></ion-icon>
      </a>
      
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
      <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    </body>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>

  </div>
</div>




<!-- Need to figure out how to add links along the sidebar -->